<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Opinions Ahoy!</title>
  <link rel='stylesheet' type='text/css' href='/stylesheets/style.css'>
</head>
<body>
  <header>
    <div>
      <h1 class='title'> Opinionated </h1>  
      <h4>Finally, your useless opinions online.</h4>
    </div>
    <nav>
      <a href='/'>Home</a>
      <a href='/opinions'>Feed</a>
      <a href='/opinions/new-post'>New Post</a>
    </nav>
  </header>