<%- include('../partials/header')  %>
  <main>
    <h1 class='title'>Unleash your reprehensible opinions! It's anonymous!</h1>
    <form action='/opinions' method='POST'>
      <input name='content' type='text'>
      <button>Vomit</button>
    </form>
  </main>
<%- include('../partials/footer')  %>
